# Ignore everything
*

# Don't ignore these files
!requirements.txt
!.gitignore
!README.md

# Don't ignore directories, so we can recurse into them
!*/

# Don't ignore anything in these folders
!src/*
!src/*/**

.idea
src/__pycache__
